/*html {*/
/*    box-sizing: border-box;*/
/*}*/

/**, *:before, *:after {*/
/*    box-sizing: inherit;*/
/*}*/


@media screen and (min-width:768px) {

    /*body {*/
    /*    display: flex;*/
    /*    flex-direction: row;*/
    /*    margin: 0 ;*/
    /*    padding: 1em;*/
    /*}*/

    .alert-info {
        display: none;
    }

    h1 {
        /*display: flex;*/
        /*flex-direction: row;*/
        /*justify-content: flex-start;*/
        align-self: flex-start;
        clear: left;
    }

    ul {
        flex-direction: row;
    }

    ul > li {
        display: flex;
        background: none;
        flex-direction: row;
        justify-content: flex-end;
    }

}

body {
    display: flex;
    flex-direction: column;
    margin: 0 ;
    padding: 1em;
    font-family:  sans-serif;
}

.alert-info {
    justify-content: center;
    background-color: lightblue;;
    border: 1px solid lightgray;

}

.alert-info > a {
    text-decoration: none;
    color: black;
}

h1 {
    display: flex;
    justify-content: center;
    font-weight: bolder;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

a {
    display: flex;
    /*background-color: lightgrey;*/
    padding: 1em;
    justify-content: center;
    /*background-size:*/
}

ul > li {
    padding: 0;
    margin: 1em 0;
    border: 1px;
    width: 100%;
    background-color: lightgray;
    align-items:  center;
}

.header-img > img {
    align-content: center;
    padding: 0;
    margin: 1em 0;
    border: 1px;
    width: 100%;
}

.sub-section > h2 {
    font-style: italic;
}